@using Library.Models
@model NhaXuatBan
@{
    ViewData["Title"] = "Thêm mới nhà xuất bản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h5 class="text-center">Thêm mới nhà xuất bản</h5>
<hr />
<div class="container">
    <form asp-action="AddNew" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Ten" class="control-label"></label>
            <input asp-for="Ten" class="form-control" />
            <span asp-validation-for="Ten" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DiaChi" class="control-label"></label>
            <input asp-for="DiaChi" class="form-control" />
            <span asp-validation-for="DiaChi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Lưu" class="btn btn-primary" />
        </div>
    </form>
</div>

