@using Library.Models
@model TacGia
@{
    ViewData["Title"] = "Thêm mới tác giả";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h5 class="text-center">Thêm mới tác giả</h5>
<hr />
<div class="container">
    <form asp-action="AddNew" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Ten" class="control-label"></label>
            <input asp-for="Ten" class="form-control" />
            <span asp-validation-for="Ten" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GhiChu" class="control-label"></label>
            <input asp-for="GhiChu" class="form-control" />
            <span asp-validation-for="GhiChu" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            @Html.ActionLink("Quay về", "Index", "QuanLyNhaTacGia", null, new { @class = "btn btn-secondary" })
        </div>
    </form>
</div>


