@using Library.Models
@model NhanVien
@{
    ViewData["Title"] = "Chỉnh sửa nhân viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h5 class="text-center">Cập nhật thông tin nhân viên</h5>
<hr />
<div class="container">
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Ten" class="control-label"></label>
            <input asp-for="Ten" class="form-control" />
            <span asp-validation-for="Ten" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NgaySinh" class="control-label"></label>
            <input asp-for="NgaySinh" class="form-control" type="datetime-local" />
            <span asp-validation-for="NgaySinh" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SoDienThoai" class="control-label"></label>
            <input asp-for="SoDienThoai" class="form-control" />
            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TenDangNhap" class="control-label"></label>
            <input asp-for="TenDangNhap" class="form-control" />
            <span asp-validation-for="TenDangNhap" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MatKhau" class="control-label"></label>
            <input asp-for="MatKhau" class="form-control" />
            <span asp-validation-for="MatKhau" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            @Html.ActionLink("Quay về", "Index", "QuanLyNhanVien", null, new { @class = "btn btn-secondary" })
        </div>
    </form>
</div>