@using Library.Models
@model TheLoai
@{
    ViewData["Title"] = "Chỉnh sửa thể loại sách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h5 class="text-center">Chỉnh sửa thể loại sách</h5>
<hr />
<div class="container">
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TenTheLoai" class="control-label"></label>
            <input asp-for="TenTheLoai" class="form-control" />
            <span asp-validation-for="TenTheLoai" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            @Html.ActionLink("Quay về", "Index", "QuanLyTheLoaiSach", null, new { @class = "btn btn-secondary" })
        </div>
    </form>
</div>

